
.baslik h1{
  text-align: center;
    font-size: 36px;
    font-weight: 700;
    color:#333;
    line-height: 40px;
    position: relative;
}
.baslik h4{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color:#333;
  line-height: 40px;
  position: relative;
}
.makaleler{
  width: 100%;
  height: 100%;
}

.makale:hover{


  transition: 1s ease;

}
.makale img:hover{
  filter: blur(2px);
  filter: brightness(10%);
}
.makaleBaslik span
{
  color:#fff;

  position: relative;

  font-size:30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
.makaleOzet{
  color:#fff;
  top:30%;
  position: relative;
  font-size:13px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
.makaleResim{
  width: 100%;
  height: 45%;
}
img{
  width: 100%;
  height: 100%;
}

.makale{
  position:relative;
  width: 40%;
  margin: 3%;
  height: 180px;
  border: 1px solid  #333;
  background-color: whitesmoke;
  border-radius: 1px;
  transition: 2.5s ease;
  text-align: center;
  float: left;
  display: none;
  color:#333;
  font-size:12px;
  left: 5px;
}
.makale img{
  transition: 1s ease;
  position: absolute;
right: 0.00001%;
  filter: brightness(40%);
}

.genelKategoriler{
  background: rgba(124, 75, 170, 0.89);
  width: 100%;
  font-size: 14px;
  position: relative;

}
.kategoriOps{ /*  Kategori Options*/
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
text-align: right;
display: table;
}
.kategoriOps ul{
padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: right;
}
.kategoriOps li{
display: inline-block;
position: relative;
float: left;
}
.kategoriOps ul a {
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 12px;
  display: block;
  color: #fff;
  position: relative;
  bottom: 6px;
  background-color: transparent;
  float: left;
  line-height: 1.7;
  transition: .3s;
}
.icerik li:hover{
color:#333;
}
