
.hakkimda{
  margin: 0 auto;
  width: 65%;
  position: relative;
  padding: 0;
}
.hakkimdaBaslik{
text-align: center;
letter-spacing: -3px;
text-shadow: 0px 1px 0px #fff;
padding: 0 0 20px 0;
}
.hakkimdaBaslik h1{
  font-size: 80px;
    line-height: 100px;
    letter-spacing: -3px;
    color: #333;
}
.hakkimdaIcerik{
  line-height: 32px;
padding: 0px;
font-size: 18px;
}
.buyukIsim{
  width: 40%;
    padding-right: 20px;
    float: left;
    transition: 1s ease;

}
.buyukIsim:hover{
  transform: scale(1.05);
}
.buyukIsim h2{
text-transform: uppercase;
font-size: 65px;
color: #333333;
padding: 0 10px;
float: right;
line-height: 80px;
letter-spacing: -2px;
text-align: right;
}
.buyukIsim span{
color: #d00b0b;
}
.hakkimdaDetay{
  float: left;
    display: inline;
    width: 57%;
}
.hakkimdaDetay h3{
      padding: 20px 0 3px 0;
      font-size: 36px;
line-height: 46px;
color: #e0000e;
}
.hakkimdaDetay span{
  font-size: 8px;
}

.hakkimdaDetay a{
  text-decoration: none;

}
.hakkimdaDetayDevam{
  float: left;
    display: inline;
    width: 70%;
    text-align: left;
}
.hakkimdaDetay span,.hakkimdaDetayDevam span{
  color: #e0000e;
}
.kucuk{
  font-size: 8px;
}
.buyukIsimDevam{
  float: left;
  width: 30%;

}
.buyukIsimDevam h2{
  text-transform: uppercase;
  position: relative;
  font-size: 50px;
  color: #333333;
  left: 20px;
  float: left;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  bottom:60px;
}
.buyukIsimDevam span{
  color: #e0000e;
}
.Efsaneler{
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  float: left;
  line-height: 50px;
  letter-spacing: -2px;
  left:30px;
  bottom:100px;
  text-align: left;
}
